body {
    margin: 0px;
    background-color: #111111;
}

#game {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
}

#title {
    font-family: 'Red Hat Mono', monospace;
    width: 100%;
    border-bottom: solid;
    border-color: #ffffff57;
    border-width: .05em;
    /* background-color: #00000057; */
    text-align: center;
    padding-top: .25em;
    padding-bottom: .25em;
    font-size: 2em;
    /* font-weight: 600; */
    color: #cccccc;
    text-shadow: 0px 0px 5px #ffffff;
    box-shadow: 0px 0px 10px #000000;
    user-select: none;
}

#gameArea {
    display: flex;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 12vh;
}

#chars {
    display: flex;
    margin: 0px auto;
    gap: 1.5vw;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 1vw;
    border-radius: 10px;
}

#textBox {
    position: relative;
    display: flex;
    margin: 50px auto;
    font-family: 'Red Hat Mono', monospace;
    color: #afafaf;
    font-size: 2rem;
    border-bottom: solid #ffffff3f .05em;
    width: fit-content;
    min-width: 20vw;
    text-align: center;
    margin-bottom: 80px;
    height: 2.5rem;
}

#textBox>#textWrite {
    min-width: 20vw;
}

.icon {
    padding-right: 0px;
    padding-top: 12px;
    color: #cccccc3c;
    cursor: pointer;
    user-select: none;
}

#box>.container>.close {
    position: absolute;
    right: 12px;
    top: 0px;
    color: #afafaf;
    text-shadow: none;
}

#box>.container>.close:hover {
    color: #fff;
}

#textBox>.send:hover {
    color: #cccccc;
}

#textBox>.delete:hover {
    color: #d31212;
}

#foundWords {
    /* background-color: #0c0c0c; */
    color: #afafaf;
    height: 20vh;
    font-family: 'Red Hat Mono', monospace;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    column-gap: 50px;
    margin: 20px 15%;
    overflow-x: auto;
}

#foundWords>* {
    margin: 0px auto;
}

#box {
    display: flex;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    backdrop-filter: blur(3px);
    background-color: #00000031;
}

#box>.container {
    padding: 1em 1.2em;
    position: relative;
    margin: auto;
    width: 25em;
    height: 35em;
    border-radius: 5px;
    background-color: #333;
}

#box>.container>.title {
    font-size: 2rem;
    text-align: left;
}

#box>.container>p {
    color: #afafaf;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#messageBox {
    font-family: 'Red Hat Mono', monospace;
    position: absolute;
    left: 50%;
    top: 10px;
    color: white;
    text-align: center;
    font-size: 1rem;
    max-width: 15em;
    padding: .5em 1em;
    border-radius: 10px;
    overflow-wrap: break-word;
    transform: translate(-50%, 0px);
}

#share {
    transition-duration: 100ms;
    position: absolute;
    bottom: 1.5em;
    width: 30em;
    height: 5em;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    color: #111;
    background-color: #ccc;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(14, 14, 14);
}

#share:hover {
    transition-duration: 100ms;
    background-color: #888;
}

#desistir {
    position: absolute;
    left: 50%;
    top: 3rem;
    font-size: 1rem;
    font-family: 'Red Hat Mono', monospace;
    color: #333;
    cursor: pointer;
    transform: translate(-50%, 0px);
}

#box>#completeText>.todayWord {
    text-align: center;
    margin: 10px 0px;
    font-size: 1.5em;
}

#box>#completeText>.words {
    height: 15em;
    overflow-y: auto;
    color: #777;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

#status {
    display: flex;
    /* width: 100%; */
    margin: 25px 0px;
    padding: 25px 0px;
    align-content: center;
    background-color: #232323;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(14, 14, 14);
}

#status>div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 3em;
    height: 2em;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}

#status>div>.number {
    color: #cccccc;
    text-align: center;
    font-size: 1.25em;
}

#status>div>.label {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #777;
    font-size: .75rem;
}

#desistir:hover {
    color: #126cd3;
}

.help {
    position: absolute;
    left: 24px;
    color: #333;
    text-shadow: none;
}

.help:hover {
    color: #7e7e7e;
}

.charts:hover {
    color: #7e7e7e;
}

.charts {
    position: absolute;
    left: 72px;
    color: #333;
    text-shadow: none;
}

.pTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #bbbbbb;
    font-weight: 600;
    font-size: 1.25rem;
}

.share.icon {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
}

.title {
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
    color: #cccccc;
    font-size: 1.25rem;
}

.counter {
    color: #6e6e6e;
}

.char {
    transition-duration: 200ms;
    width: 4vw;
    height: 6vw;
    line-height: 6vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    color: #111;
    text-align: center;
    background-color: #bbbbbb;
    /* border: dashed #111111; */
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(14, 14, 14);
    cursor: pointer;
}

.char:hover {
    transition-duration: 200ms;
    background-color: #888;
    /* background-color: #eba611; */
    /* background-color: #15ac10; */
    /* background-color: #d31212; */
}

.highlight {
    color: #cccccc;
}

input {
    color: inherit;
    font: inherit;
    text-align: inherit;
    background-color: transparent;
    border: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 2px;
}

.hidden {
    display: none;
}

#box.hidden {
    display: none;
}

#creditos {
    position: absolute;
    bottom: 0px;
    right: 10px;
    text-align: right;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #888;
}

#creditos>a {
    color: #eba611;
    text-decoration: none;
    font-family: inherit;
}